# Chatbot Conversations From Customer Service Scripts

In [297]:
import numpy as np
import pandas as pd
import sys, os, re, itertools, collections, string, time
from io import BytesIO
from collections import Counter
from time import time
import datetime
from sklearn import model_selection
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder

In [349]:
# https://catalog.data.gov/dataset/consumer-complaint-database 
complaints_df_raw = pd.read_csv("consumer_complaints.csv", 
                usecols=('Product','Consumer complaint narrative', 'Sub-issue'),
                dtype={'consumer_complaint_narrative': object})
# Only interested in data with consumer complaints
complaints_df_raw=complaints_df_raw[complaints_df_raw['Consumer complaint narrative'].notnull()]
complaints_df_raw=complaints_df_raw[complaints_df_raw['Product'].notnull()]

# remove XXXX from narratives
complaints_df_raw['Consumer complaint narrative'] =  complaints_df_raw['Consumer complaint narrative'].replace({'X':''}, regex=True)

# always seed your random generators for reporducilibity 
complaints_df_raw = complaints_df_raw.sample(200000, replace=False, random_state=1)

# basic sentence prep
# set to lower
complaints_df_raw['Consumer complaint narrative'] = complaints_df_raw['Consumer complaint narrative'].str.lower()
# remove special characters
complaints_df_raw['Consumer complaint narrative'] = complaints_df_raw['Consumer complaint narrative'].str.replace('\W', ' ')

# remove elements with no text
complaints_df_raw= complaints_df_raw[complaints_df_raw['Consumer complaint narrative'] != '']

# any dups
complaints_df_raw = complaints_df_raw.drop_duplicates(subset=['Consumer complaint narrative'])

In [365]:
complaints_df_raw.head()

,Product,Sub-issue,Consumer complaint narrative
332635,Bank account or service,NaN,Wells Fargo //2015 took {$16000.00} from my cr...
992324,"Credit reporting, credit repair services, or o...",Credit inquiries on your report that you don't...,computer base system pre approve me for a cred...
902590,Debt collection,Debt is not yours,I have a dept on my Credit report which is not...
618944,Credit reporting,Information is not mine,"Upon getting my credit report, I noted an addr..."
834643,"Credit reporting, credit repair services, or o...",Information belongs to someone else,"I never consented to be a co signer, account d..."

# Clean Up Data

In [301]:
complaints_df = complaints_df_raw.copy()
complaints_df['Consumer complaint narrative'] = word_data

In [302]:
word_similarity=complaints_df['Consumer complaint narrative'].str.split(' ').map(Counter)
word_similarity_ratio = []
complaints_df.shape

(194490, 3)

In [303]:
for wu in word_similarity:
    word_similarity_ratio.append(np.sum([x[1] for x in wu.items()])/np.float(len(wu)))
    
complaints_df['narrative_similarity_ratio'] = word_similarity_ratio
complaints_df['narrative_similarity_ratio'].describe()

count    194490.000000
mean          1.662741
std           0.469002
min           1.000000
25%           1.361111
50%           1.600000
75%           1.889831
max          55.782609
Name: narrative_similarity_ratio, dtype: float64

In [304]:
# thin out some entries that contain too much duplicated lines within

complaints_df = complaints_df[complaints_df['narrative_similarity_ratio'] <= 1.5]
complaints_df.reset_index(drop=True,inplace=True)
complaints_df.shape

(77503, 4)

In [306]:
list(complaints_df['Consumer complaint narrative'])[0]

'computer base system pre approve me for a credit limit then decline my application'

# Get Key Verbs And Nouns

In [307]:
# find most common verbs and measure coverage 
import spacy
# Load English tokenizer, tagger, parser, NER and word vectors
#nlp = spacy.load('en')

# just load what we need to avoid taxing memory
nlp = spacy.load('en', parser=False, entity=False)

In [308]:
# create one big blob of text to process things a bit faster
blob_complaints = ''.join(list(complaints_df['Consumer complaint narrative']))

# Max text of length of 1000000
n = 900000
blog_chunks = [blob_complaints[i:i+n] for i in range(0, len(blob_complaints), n)]
len(blog_chunks)

31

In [309]:
just_verbs = []
just_nouns = []
counter_=len(blog_chunks)
for sentence in blog_chunks:
    counter_ -= 1
    if (counter_ % 10 == 0): print(counter_)
    print(counter_)
    doc = nlp(sentence.decode('utf-8'))
    temp_verb = []
    temp_noun = []
    for token in doc: 
        if (token.pos_ == u'VERB'): 
            temp_verb.append(token.text)
        if (token.pos_ == u'NOUN'):
            temp_noun.append(token.text)
            

    just_verbs.append(' '.join(temp_verb).encode('utf-8'))
    just_nouns.append(' '.join(temp_noun).encode('utf-8'))

30
30
29
28
27
26
25
24
23
22
21
20
20
19
18
17
16
15
14
13
12
11
10
10
9
8
7
6
5
4
3
2
1
0
0

In [358]:
just_verbs[0].split()[0:10]

['approve',
 'decline',
 'have',
 'is',
 'have',
 'spoke',
 'being',
 'reported',
 'do',
 'know']

In [359]:
just_nouns[0].split()[0:10]

['computer',
 'base',
 'system',
 'pre',
 'credit',
 'limit',
 'applicationi',
 'dept',
 'credit',
 'report']

In [310]:
print('count just_verbs: %i' % len(just_verbs))
print('count just_nouns: %i' % len(just_nouns))

count just_verbs: 31
count just_nouns: 31

In [311]:
# pickle both objects so you don't have to re-run spacy 
import pickle
pickle_file = "verbs_nouns.p"

overwrite_old_pickle = True
if overwrite_old_pickle:
    with open(pickle_file, "wb") as f:
        pickle.dump([just_verbs, just_nouns], f)
    
# read in saved pickle
with open(pickle_file, "rb") as f:
    backup_pos = pickle.load(f)

## Sorting Out Verbs

In [312]:
all_verbs = backup_pos[0]
len(all_verbs)

# append all verbs together so we can run frequency counts
verbs = []
for verb_set in all_verbs:
    verbs.append(verb_set.split())
    #verbs = [verb for verb in verb_set[0].split()]

len(verbs)
verbs_master = [val for sublist in verbs for val in sublist]
len(verbs_master)

1130054

In [360]:
# what is your upper and lower cut offs?
from collections import Counter
verbs_df = pd.DataFrame(Counter([verb for verb in verbs_master]).most_common(), columns = ['verb', 'count'])
verbs_df.head(20)

        verb  count
0       have  70226
1         is  58620
2        was  55698
3        are  23786
4        has  23560
5       been  21781
6         be  20973
7         do  17471
8        had  16062
9         am  15028
10       did  13467
11  received  12425
12     would  11800
13      paid  10964
14      were  10864
15      sent  10606
16    called   9588
17       can   9269
18       get   9198
19      will   9164

In [314]:
len(verbs_df[verbs_df['count'] > 1000])
verbs_df = verbs_df[verbs_df['count'] > 1000]

## Sorting Out Nouns

In [315]:
all_nouns = backup_pos[1]

# append all verbs together so we can run frequency counts
nouns = []
for noun_set in all_nouns:
    nouns.append(noun_set.split())

nouns_master = [val for sublist in nouns for val in sublist]
len(nouns_master)

1140118

In [316]:
# what is your upper and lower cut offs?
from collections import Counter
nouns_df = pd.DataFrame(Counter([noun for noun in nouns_master]).most_common(), columns = ['noun', 'count'])
nouns_df.head()

          noun  count
0       credit  58934
1      account  35048
2       report  23740
3         debt  22419
4  information  19445

In [317]:
len(nouns_df[nouns_df['count'] > 1000])
nouns_df = nouns_df[nouns_df['count'] > 1000]

## Binarize DataFrame With Official Verb & Noun List

In [318]:
# create new data frame with key verbs and nouns as features
key_words = list(nouns_df['noun']) + list(verbs_df['verb'])
row_bools = []
counter_ = len(complaints_df['Consumer complaint narrative'])
for sentence in complaints_df['Consumer complaint narrative']:
    counter_ -= 1
    if (counter_ % 10000 == 0): print(counter_)
    row_bool = []
    words = sentence.split()
    for kw in key_words:
        row_bool.append(kw in words)
    row_bools.append(row_bool)
    
print('length:', len(row_bools))
row_bools = pd.DataFrame(row_bools, columns=key_words)    
row_bools = row_bools.astype(int)
row_bools.shape

70000
60000
50000
40000
30000
20000
10000
0
('length:', 77503)

(77503, 395)

In [361]:
row_bools.head()

,credit,account,report,debt,information,company,loan,payment,bank,card,...,charging,lived,lost,disputing,mailed,needed,came,contacting,keeps,cluster
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
1,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,35
2,1,0,1,0,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,13
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,5

# Cluster of popular sentences

In [319]:
from sklearn.cluster import KMeans

TOTAL_CLUSTERS = 50

# Number of clusters
kmeans = KMeans(n_clusters=TOTAL_CLUSTERS)
# Fitting the input data
kmeans = kmeans.fit(row_bools)
# Getting the cluster labels
labels = kmeans.predict(row_bools)
# Centroid values
centroids = kmeans.cluster_centers_

# add cluster back to data frame 
row_bools['cluster'] = labels

row_bools['cluster'].value_counts().head()

10    4400
15    3000
22    2653
2     2518
19    2492
38    2298
3     2249
5     2101
23    2100
27    2044
35    2029
13    2011
48    1983
45    1923
1     1896
16    1857
4     1840
20    1777
32    1756
7     1635
30    1565
6     1556
25    1556
47    1505
12    1452
11    1444
46    1439
28    1372
8     1371
14    1337
42    1317
9     1314
29    1297
26    1225
33    1207
0     1201
21    1144
37    1110
44    1084
31    1081
41    1068
40    1040
17     981
34     909
43     855
49     825
39     292
36     209
18     111
24      74
Name: cluster, dtype: int64

In [362]:
row_bools['cluster'].value_counts().head()

10    4400
15    3000
22    2653
2     2518
19    2492
Name: cluster, dtype: int64

In [334]:

# add cluster number back to orginal corpus
complaints_df['Cluster'] = labels
# import sys
# reload(sys)
# sys.setdefaultencoding('utf8')
import itertools
from collections import Counter
import nltk
from nltk.util import ngrams

unique_complaints_2grams = []
unique_complaints_3grams = []
unique_complaints_4grams = []
unique_complaints_5grams = []
unique_complaints_6grams = []
# loop through each cluster
for cluster_to_search in range(min(row_bools['cluster']), max(row_bools['cluster'])+1):
    # cluster-level research
    print('Cluster: %i' % cluster_to_search)
    df_tmp = complaints_df[complaints_df['Cluster']==cluster_to_search].copy()
    print('data cluster shape: %s' % len(df_tmp))
    
    bigrams = []
    trigrams = []
    fourgrams = []
    fivegrams = []
    sixgrams = []
    
    for index, row in df_tmp.iterrows(): 
        token = nltk.word_tokenize(row['Consumer complaint narrative'].decode('utf-8'))
        bigrams.append([' '.join(pair) for pair in list(ngrams(token,2)) if len(set(pair))==2])
        trigrams.append([' '.join(pair) for pair in list(ngrams(token,3)) if len(set(pair))==3])
        fourgrams.append([' '.join(pair) for pair in list(ngrams(token,4)) if len(set(pair))==4])
        fivegrams.append([' '.join(pair) for pair in list(ngrams(token,5)) if len(set(pair))==5])
        sixgrams.append([' '.join(pair) for pair in list(ngrams(token,6)) if len(set(pair))==6])
        
    bigrams = [val for sublist in bigrams for val in sublist]
    trigrams = [val for sublist in trigrams for val in sublist]
    fourgrams = [val for sublist in fourgrams for val in sublist]
    fivegrams = [val for sublist in fivegrams for val in sublist]
    sixgrams = [val for sublist in sixgrams for val in sublist]
    
    # find top x most popular grams per size
    # 2 bigrams
    freqx = pd.DataFrame(Counter([noun for noun in bigrams]).most_common(50), columns=['bigrams','frequency'])
    freqx['Cluster'] = cluster_to_search
    unique_complaints_2grams.append(freqx)
    # 3 bigrams
    freqx = pd.DataFrame(Counter([noun for noun in trigrams]).most_common(50), columns=['trigrams','frequency'])
    freqx['Cluster'] = cluster_to_search
    unique_complaints_3grams.append(freqx)
    # 4 bigrams
    freqx = pd.DataFrame(Counter([noun for noun in fourgrams]).most_common(50), columns=['fourgrams','frequency'])
    freqx['Cluster'] = cluster_to_search
    unique_complaints_4grams.append(freqx)
    # 5 bigrams
    freqx = pd.DataFrame(Counter([noun for noun in fivegrams]).most_common(50), columns=['fivegrams','frequency'])
    freqx['Cluster'] = cluster_to_search
    unique_complaints_5grams.append(freqx)
    # 6 bigrams
    freqx = pd.DataFrame(Counter([noun for noun in sixgrams]).most_common(50), columns=['sixgrams','frequency'])
    freqx['Cluster'] = cluster_to_search
    unique_complaints_6grams.append(freqx)

Cluster: 0
data cluster shape: 1201
Cluster: 1
data cluster shape: 1896
Cluster: 2
data cluster shape: 2518
Cluster: 3
data cluster shape: 2249
Cluster: 4
data cluster shape: 1840
Cluster: 5
data cluster shape: 2101
Cluster: 6
data cluster shape: 1556
Cluster: 7
data cluster shape: 1635
Cluster: 8
data cluster shape: 1371
Cluster: 9
data cluster shape: 1314
Cluster: 10
data cluster shape: 4400
Cluster: 11
data cluster shape: 1444
Cluster: 12
data cluster shape: 1452
Cluster: 13
data cluster shape: 2011
Cluster: 14
data cluster shape: 1337
Cluster: 15
data cluster shape: 3000
Cluster: 16
data cluster shape: 1857
Cluster: 17
data cluster shape: 981
Cluster: 18
data cluster shape: 111
Cluster: 19
data cluster shape: 2492
Cluster: 20
data cluster shape: 1777
Cluster: 21
data cluster shape: 1144
Cluster: 22
data cluster shape: 2653
Cluster: 23
data cluster shape: 2100
Cluster: 24
data cluster shape: 74
Cluster: 25
data cluster shape: 1556
Cluster: 26
data cluster shape: 1225
Cluster: 27
data cluster shape: 2044
Cluster: 28
data cluster shape: 1372
Cluster: 29
data cluster shape: 1297
Cluster: 30
data cluster shape: 1565
Cluster: 31
data cluster shape: 1081
Cluster: 32
data cluster shape: 1756
Cluster: 33
data cluster shape: 1207
Cluster: 34
data cluster shape: 909
Cluster: 35
data cluster shape: 2029
Cluster: 36
data cluster shape: 209
Cluster: 37
data cluster shape: 1110
Cluster: 38
data cluster shape: 2298
Cluster: 39
data cluster shape: 292
Cluster: 40
data cluster shape: 1040
Cluster: 41
data cluster shape: 1068
Cluster: 42
data cluster shape: 1317
Cluster: 43
data cluster shape: 855
Cluster: 44
data cluster shape: 1084
Cluster: 45
data cluster shape: 1923
Cluster: 46
data cluster shape: 1439
Cluster: 47
data cluster shape: 1505
Cluster: 48
data cluster shape: 1983
Cluster: 49
data cluster shape: 825

In [339]:
    df = pd.concat(unique_complaints_4grams)
    # freqx = pd.DataFrame(Counter([noun for noun in fourgrams]).most_common(50), columns=['fourgrams','frequency'])
    df = df.drop_duplicates(subset=['fourgrams'], keep=False)
    df.head()

             fourgrams  frequency  Cluster
17    my loan was sold         11        0
18    loan was sold to         11        0
19      i was denied a         11        0
21   loan was paid off         10        0
23  i was not notified         10        0

In [346]:
# find top x most popular grams per size
see_grams = 6


if see_grams==2:
    df = pd.concat(unique_complaints_2grams)
    df = df.drop_duplicates(subset=['bigrams'], keep=False)
elif see_grams==3:
    df = pd.concat(unique_complaints_3grams)
    df = df.drop_duplicates(subset=['trigrams'], keep=False)
elif see_grams==4:
    df = pd.concat(unique_complaints_4grams)
    df = df.drop_duplicates(subset=['fourgrams'], keep=False)
elif see_grams==5:
    df = pd.concat(unique_complaints_5grams)
    df = df.drop_duplicates(subset=['fivegrams'], keep=False)
elif see_grams==6:
    df = pd.concat(unique_complaints_6grams)
    df = df.drop_duplicates(subset=['sixgrams'], keep=False)
 
df = df.sort_values('Cluster')
df[df['frequency'] > 10]

                                     sixgrams  frequency  Cluster
1                    i had a credit card with         14        1
3              my bank of america credit card         14        1
4                    a credit card in my name         11        1
0                 i applied for a credit card         18        1
14             from my credit reports that do         23        3
31                   deleted item . i did not         11        3
5      remove accounts from my credit reports         31        3
7        accounts from my credit reports that         27        3
11          credit reports that do not belong         24        3
13              reports that do not belong to         24        3
33               . you are required to notify         11        3
18               are not responding to any of         15        3
12              my credit reports that do not         24        3
21           are required to notify me within         13        3
22          my many requests to investigate ,         13        3
28                    . i did not receive any         12        3
29              you are required to notify me         11        3
30                   item . i did not receive         11        3
20      many requests to investigate , verify         13        3
40            of the debt and account however         17        4
33              with me for goods or services         17        4
35                  i am not obligated to pay         17        4
36                 pay for the alleged debt .         17        4
37     however the business failed to provide         17        4
38                i hold no contract with nor         17        4
39  business failed to provide adequate proof         17        4
41              me for goods or services they         17        4
48                 , which i hold no contract         16        4
43                    my ssn in the amount of         16        4
44       i requested verification of the debt         16        4
..                                        ...        ...      ...
35             company is trying to collect a         14       47
36          this company is trying to collect         14       47
37                collect a debt from me that         13       47
40                       that is not mine . i         12       47
44               debt that does not belong to         12       47
42                      a debt from me that i         12       47
43         company is attempting to collect a         12       47
45                 collect on a debt that was         12       47
46                   do not owe this debt and         11       47
31   established a contract with this company         15       47
41             attempt to collect a debt that         12       47
30     never established a contract with this         15       47
10                 collect a debt that is not         31       47
27                 to collect a debt that was         16       47
29        i never established a contract with         15       47
1                   to collect on a debt that         53       47
2                 is trying to collect a debt         50       47
4               trying to collect a debt that         42       47
5           attempting to collect a debt that         42       47
7                   to collect a debt from me         32       47
12                trying to collect on a debt         31       47
0             is attempting to collect a debt         79       47
14            attempting to collect on a debt         25       47
15                  collect on a debt that is         24       47
18              is attempting to collect on a         21       47
20                  is trying to collect on a         20       47
21          attempting to collect a debt from         20       47
24                   collect a debt that i do         19       47
26                     to collect a debt i do         17       47
13                   to collect a debt that i         26       47

[921 rows x 3 columns]

## Tie It Back To Complaint

In [364]:
# tie it back to look into a couple of actual complaints
keywords = "attempting to collect a debt from"
 
for index, row in complaints_df.iterrows():
    txt = row['Consumer complaint narrative'] 
    if (keywords in txt):
        print(txt)
        print('------')

stellar recovery inc is attempting to collect a debt from me that i do n't owe them. i never established a contract with this company and they have reported negative items onto my and credit reports which is in violation of the fcra.
------
i received a message from global credit and collection company who said it was attempting to collect a debt i owe. i called the number back who said it was a non working number for . this same company left a message on other phone numbers that have never been associated with any account i have. it was disclosed on answering machines voicemail that they were attempting to collect a debt from me.
------
trident asset management is attempting to collect a debt from me that i do n't owe them. i never established a contract with this company and they have reported negative items onto my and credit reports which is in violation of the fcra.
------
wakefield and associates of , colorado, has been attempting to collect a debt from me for one year. i have never received proof of the debt in writing they have called me multiple times during the day and evening. they have argued with me and have said they do not need to send paper proof of debts. the collection reported on my credit report does not match the amount they are seeking.
------
rash curtis and associates is attempting to collect a debt from me that i have no awareness, via threatening to damage my credit.
------
it was , i was working a part time and borrow $ 110.00 from advance america, a payday loan predator company. at, the time, i lost my wallet and all of the contents, which contained my id, ssn, and other pertinent information. on , i get a call from them out of the blue, from a company that claims that are attempting to collect a debt from them. this company, is harassing me, and i want it to stop. not, only, to they charge enormous interest to poor young and old they do not stop until they get paid. please do something !
------
is attempting to collect a debt from me that i never establish a contract with this company nor do i owe any money to this company they are violating the fcra and placed negative reporting on both my and reports for amounts of and . this debt is not collectable. these student loans were consolidated and i was never late.
------
united collection bureau robo calls '' my home phone number daily attempting to collect a debt from some one else whose former phone number i was likely assigned after a recent move. i have called them back several times and have left messages for them to stop these calls as i am a new person with the debtor 's former number. i even spoke to a gentleman there once and explained to him that the number they have on file is no longer for the person which they are still attempting to reach. their calls have continued despite my threatening them with legal action.
------
i continually receive calls attempting to collect a debt from my husband 's ex wife. i have repeatedly told them that they are contacting the wrong person, and they still call. i am unsure how my number got associated with her because i have had this number for twelve years, and i 've only been married for four.
------
the collection agency ic systems is attempting to collect a debt from me on behalf of for unreturned cable equipment. firstly, has confirmed that i did return the equipment and owe them nothing. additionally, has told me that ic system is no longer an authorized collecter for , and is in fact harassing customers.
------
collection services of athens is attempting to collect a debt from me and i never established a contract with this company. furthermore collection services of athens is currently reporting negative information onto my credit report indicating that i owe amount of and a additional amount for dollars.
------
maury cobb, attorney at law, located in , al keeps sending me robotic calls from asking me to call . daily robotic calls to my cell phone attempting to collect a debt from someone who is unknown to me. i have contacted the caller twice to notify of the problem, but they have not changed tactics or otherwise changed their calling pattern. by nature of their systematic inability to source or acknowledge the problem i am effectively being harassed and am seeking relief.
------
robo calls and agent leaving messages on my answering device, attempting to collect a debt from a person unknown to me, i have repeatedly stated i do not know this person named and to stop calling, this company refuses to stop and desist, and i want criminal charges for fraud against them. i do not know of the person or debt by this person. company credit protection, left contact numbers phone no 's, ( 1 ) ( 2 ) , using their account number stated as , website i think stated as .
------
this company is attempting to collect a debt from me that i do n't owe them. i never established a contract with this company and they have reported negative items onto my and credit reports which is in violation of the fcra.
------
i went to check my credit score, and noticed it had dropped 50 points, due to a report from universal recovery attempting to collect a debt from . i had joined this gym for one month at a rate of $ 19.00 a month, but, since i was moving, closed the account. i was informed the account was closed and recieved no notices, mail, advertisements etc. from them since, and this was a year ago. the recovery department is trying to say i owe over $ 100.00 , which is absolutely false, and i need this reversed immediately as it is affecting my credit.
------
national credit system is attempting to collect a debt from me for dollars and i never established a contract with this company.furthermore this company has reported negative items on to my credit report and is violating the fcra standard.
------
i had forster garbus, llp contact me at my place of employment, which my employer does not allow, from phone number . they told me they are attempting to collect a debt from , a company i have never heard of. this debt they claim i have never been contacted about in the past, it does not show up on my credit report, and i have never heard of it. it is fraudulent and so was the harassing phone call.
------
atg credit llc is attempting to collect a debt from me that i never established a contract with this company at all. purchasing a debt and obtaining documentation or bills is not legal contract that binds to owe you any money at all. furthermore atg credit llc is in complete violations of fcra by placing negative tradeline on to my credit reports which is complete slander to my name
------
today by i received a collection letter from r.a. rogers , inc attempting to collect a debt from creditor on a account that was paid in full i believe around 2013. i have a concern with the collection fees with r.a rogers $ 5500.00 on this account. please address this with r.a. rogers this same like some kind of scam.
------
i am dealing with the collection agency synergetic communication , inc. i am questioning how legitimate this company is for several reasons. they do not show up as the creditor on my credit report, and they are unlawfully attempting to collect a debt from me by violating several fdcpa laws. they have contacted me before my time zone and have also called me several times within one hour. they have also never sent me a debt validation letter to make me aware they are the collection agency assigned and to advise me of my rights to dispute the validity of the debt.
------
forster garbus is attempting to collect a debt from me on a credit card account that is from seven years ago. the debt is no longer listed on all three of my credit card reports.the debt is listed as being for the amount of $ 970.00 .
------
first financial mgmt is attempting to collect a debt from me that i do n't owe. i never established a contract with this agency at all. obtainning documentation as a debt collection agency or third party vendor is not a contract or it does not legally bind me to pay this company any money, furthermore this agency is in complete violation of the fcra law by placing a negative tradeline on to my credit reports
------
i received a message from company who said it was attempting to collect a debt i owe. i called the number back who said it was a non working number for chase. this same company left a message on other phone numbers that have never been associated with any account i have. it was disclosed on answering machines voicemail that they were attempting to collect a debt from me.
------
is attempting to collect a debt from that was discharged thru bankrutpcy. plus on top of that i never received any information about this debt before it hit my report. i would of told them it was no longer owed. thirdlly the original debt was in my mother 's name .
------
ras lavrar is attempting to collect a debt from me that i have no recollection of. ras lavrar has stepped outside the boundaries fdpa. i have received a lot of harassment calls and even a representative came to my home or residences with harassments that are in violation of the fdpa. i never established a contract with this company and i do n't owe the alleged debt.i will be reporting this practice to the state attorney general office of ga and the ftc about this matter.
------
cac financial corp is attempting to collect a debt from me that i do n't owe them. i never established a contract with this company and they have reported negative items onto my and credit reports which is in violation of the fcra.
------
i have received a 2015 letter and various phone calls from central credit services, llc attempting to collect a debt from in . these are most likely about a services accrued in a bundled service. i have statements from showing that the statements are paid in full. i previously filed a complaint with the ftc regarding this manner and i thought it was taken care of. now i am receiving bills at my new location in .
------
diversified consultants is attempting to collect a debt from in the amount of $ 2100.00 . i have received no documentation that i owe this debt and even if i did, the debt is listed as opened in ''. i have had since . it appears that this company has reaged the debt in violation of fcra. diversified consultants account number recent balance $ 2100.00 as of , fl original creditor
------
the collection agency that is attempting to collect a debt from me is not licensed to operate in my state. thus, i am disputing this collection. i have included the list of all active licenses for collection agencies from my state 's government website.
------
a company called amerassist has called my mother in law, my father in law and a very distant cousin of mine, who i do not even have the contact information for myself, and has shared with them that they are attempting to collect a debt from me asking for information. they have called them on private home numbers and cell phone numbers, even after they ask to stop being contacted. i am unaware of any debt owed, and they are harassing people that i do not even speak with about alleged financial issues.
------
diversified has called my office on multiple occasions from different numbers attempting to collect a debt from someone not associated with this office or myself. we 've asked them to stop calling but they continue and i feel as if they are violating the fdcpa. can you please assist ?
------
i have received mutilate calls from them attempting to collect a debt from a medical visit i never had. if i had visited, my health insurname would have covered the visit and it would n't have cost me $ 260.00 like they are claiming.
------
my year old daughter is receiving non stop calls on her cell phone from cooper hoffman klein associates '' attempting to collect a debt from someone named ''. we block the calls but they keep calling from other phone numbers. i called on 15 and spoke to i explained the situation and he hung up on me. they reference case and have called from these numbers ( ) ( ) and ( ) . the voicemails threaten legal action and someone will show up at our house.
------
i am writing this complaint in regards to fco an debt collection company attempting to collect a debt from me. i have no proof or knowledge that i owe this debt. i moved out of house in of 2013 and paid any remaining balance i owed. i believe this debt is unjust and inaccurate.
------
credit collections '' at continues to call my numbers multiple times per week after i have written, submitted online requests and verbally informed them that the person they are attempting to collect a debt from my ex, moved out in 2010. i have informed them he can not be reached at my numbers , multiple times but they continue to call repeatedly. i.e. last tuesday they called 5 times between and , then called twice on friday afternoon while i was trying to work. i have zero responsibility for my ex 's debts and am tired of this company harassing me even after i gave them his new number.
------
pinnacle credit service is attempting to collect a debt from me of and and i never establish a contract with this company. and they are reporting negative items on both my and credit reports.
------
enhanced recovery corp is attempting to collect a debt from me and i never established a contract with this company, furthermore erc is currently reporting negative information onto my credit report.
------